*{
    margin: 0%;
}
body{
    display: grid;
    height: 100vh;
    grid-template-rows: 0.25fr 1fr;
    grid-template-columns: 1;
    grid-template-areas: 
    "header"
    "main";
    background-color: black;
}
header{
    grid-area: header;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
main{
    grid-area: main;
    background-color: grey;
    color: aliceblue;
    text-align: center;
    margin: 0.5%;
    font-size: 1rem;
    overflow: auto;
}
.icon{
    height: 25%;
    width: 25%;
}
.iconA{
    position: absolute;
    left: 0;
}
.pytanie{
    background-color: #4a4a46;
    margin: 0.2%;
    padding: 1%;
    height: 3%;
}
.odpowiedz{
    background-color: #4a4a46;
    margin: 0.2%;
    padding: 0.7%;
    height: 2%;
}
.odpowiedzD{
    background-color: #4a4a46;
    margin: 0.2%;
    padding: 0.7%;
    height: 3%;
}
.odpowiedzD:hover{
    color: chartreuse;
}